$primary-light: #8efbf7;
$primary: #32e6e2;
$primary-dark: #02807d;

$secondary: #0c2a2a;

$altitude: #46a2e0;
$temperature: #a84a32;
$velocity: #32a852;

$background: #060b10;
$background-panel: rgb(18, 20, 36);

$black: #000000;
$white: #ffffff;

